<!DOCTYPE>

<html lang="en">
<head>
    <title> Dashboard Adding Article </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,">
</head>

<body>
    <%- include("../utils/sidebar") %>
    <main>
        <h2> Add Article </h2>
        <form method="post" action="/dashboard/article/add">
            .input-field>
        </form>
    </main>
</body>

</html>