<!DOCTYPE>

<html lang="en">
    <head>
        <title> Dashboard Article </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,">
    </head>

    <body>
        <%- include("../utils/sidebar") %>
        <main>
            <a href="/dashboard/article/add"> Add an article </a>
        </main>
    </body>

</html>