<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <header>
        <nav>
            <span> Food Blog </span>
            <ul>
                <li><a href="/"> Home </a></li>
                <li> <a href="/article"> Article </a></li>
                <li> <a href="/chat"> Chat </a></li>
            </ul>
            <% if (!user) { %>
            <a href="/users/login"> Login </a>
            <% } else {%>
                <a href="/users/logout"> logout </a>
            <% } %>
        </nav>
    </header>
    <main>
        <a href="/getuser"> get me</a>
        <% if (user) { %>
            <h4> user logged in <%= JSON.stringify(user)%></h4>
        <% } else { %>
            No user logged in
        <% } %>
    </main>
</body>
</html>