<aside>
    <nav>
        <div> <span> Food Blog </span></div>
        <ul>
            <li> <a href="/dashboard"> Home </a></li>
            <li> <a href="/dashboard/article"> Article </a></li>
            <li> <a href="/dashboard/category"> Categories </a></li>
            <li> <a href="/dashboard/users"> Me </a></li>
        </ul>
    </nav>
</aside>